* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 60%;
    margin: auto;
    text-align: center;
    font-size: 1.1rem;
}

h1 {
    font-size: 4rem;
    color: cornflowerblue;
}

.frase {
    letter-spacing: 2px;
}

.img {
    border-radius: 10px;
    margin-left: 20px;
    width: 50%;
}

.frase-img {
    display: flex;
    align-items: flex-end;
    margin: 20px;
    text-align: justify;
}

.text {
    font-size: 1.3rem;
}

ul {
    text-align: left;
    display: inline-block;
    margin: 10px;
}

.list-relax {
    margin-top: 45px;
}